body{
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: hsl(47, 88%, 63%);
    font-family: sans-serif;
}
.container{
    border: 1px solid #000;
    padding: 18px;
    box-sizing: border-box;
    max-width: 375px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    font-size: 1em;
    box-shadow: 8px 8px 2px #000;
}
.tag{
    background-color: hsl(47, 88%, 63%);
    padding: 5px 8px;
    width: fit-content;
    border-radius: 5px;
    font-weight: 800;
}
h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
h1{
    font-size: 1.5em;
    font-weight: 800;
}
.profile{
    display: flex;
    gap: 10px;
    font-weight: 500;
    align-items: center;font-size: 1em;
}

#illustration-article{ border-radius: 10px;}
.date{ color: hsl(0, 0%, 7%);}
.article{ color: hsl(0, 0%, 42%);}
.name{ font-weight: 800;}
#avater{
    height: 12%;
    width: 12%;
}